/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/

/* FONT (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

/* BACKGROUND */

body {
	background: url('https://i.ibb.co/HLTD0XcS/swirlingsky-optimized.png') center center fixed;
	background-size: 100%;
	font-family: "Petit Formal Script", cursive;
	color: #BFD7F8
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: rgba(78, 103, 161, 0.55);
	border: 0 ridge !important;
	box-shadow: none;
	border-radius: 10px !important;
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: none
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: #102537;
	border: 0 ridge !important;
	border-top: none;
	color: #87B3F2;
	border-radius: 10px !important;
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: #102537;
	border-bottom: none;
	color: #87B3F2;
	border-radius: 10px !important;
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color: #2A5E8C !important
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: #306CA1 !important;
	border-bottom: none;
	color: #BFD7F8 !important;
	border-radius: 10px !important;
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: #1B3D5A !important;
        border: 0 ridge !important;
	border-radius: 10px !important;
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: #87B3F2
}

/* CSS CREDIT */

.breadcrumb::after {
        content: "Template by Katie (#106445)";
        color: #87B3F2;
        position: absolute;
        right: 13%; /* (This may need adjusting) */
        z-index: 100
    }

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }

/* BOOKMARK BUTTON */

input.floatright, input.floatright:hover {
	background: #4E67A1 !important;
        border: 0 ridge !important;
	border-radius: 10px !important;
	color: #87B3F2 !important;    
}

/* SWITCH ACCOUNT BUTTON */

button.button, button.button:hover {
	background: #4E67A1;
        border: 0 ridge !important;
	border-radius: 10px !important;
        text-shadow: none !important;
	color: #87B3F2 !important
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
	background: rgba(48, 108, 161, 0.65) !important;
	border: 0 ridge !important;
	color: #BFD7F8;
	border-radius: 10px !important;
}

/* BIGGEST HEADER ("___"'s DEN) */

h1 {
	color: #87B3F2;
    text-shadow: 1px 0px 10px rgba(255, 255, 255, 0.75);
	font-size: 50px;
	text-align: center;
        font-family: "Petit Formal Script", cursive;
}


/* MEDIUM HEADER */

h2 {
	color: #87B3F2;
	font-size: 24px;
	text-align: center
}


/* SMALL HEADER */

h3 {
	color: #87B3F2 !important;
	font-size: 14px !important
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
	color: #87B3F2 !important;
        font-size: 26px !important;
        font-family: "Petit Formal Script", cursive;
}

/* RIGHT SIDE PANELS */
.panel {
	background: rgba(48, 108, 161, 0.75) !important;
	box-shadow: none !important;
	border: 0 ridge !important;
	color: #87B3F2 !important;
	border-radius: 10px !important;
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: #1D224A;
	color: #FFFFFF !important;
	border-radius: 10px !important;
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: linear-gradient(90deg,rgba(33, 42, 84, 1) 0%, rgba(60, 75, 150, 1) 47%, rgba(105, 120, 195, 1) 100%); 
	color: #FFFFFF !important;
	border-radius: 10px !important;
}

/* ENERGY BAR TEXT */
.progress div {
	color: #FFFFFF !important
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: #8E99D2 !important;
        color: #4389EA !important;
	border: 0 ridge !important;
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: #4E67A1 !important;
        color: #4389EA !important;
	border: 0 ridge !important;
}

.s-chat-message__pinned /* Pinned Message */ {
	background: #3C4B96 !important;
        color: #155BBC !important;
	border: 0 ridge !important;
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #FFFFFF !important;
}

div#chatMessageContainer {
	border: 0 ridge !important;
	border-radius: 10px !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: #4E67A1 !important;
        color: #87B3F2 !important;
	border: 0 ridge !important;
}


/*-------------------------*/
/*Comment Box by Hok-Z #41458 / #170947*/
/*-------------------------*/
#commentBox {
background: rgba(48, 108, 161, 0.55);
border: 2px #0D0D0C !important;
height: 280px !important;
margin-top: 40px;
overflow: auto !important;
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
}

.comment {
background: #4E67A1 !important;
border-bottom: 1px #445A8D;
font-weight: bold;
color: #87B3F2;
}

.comment a {color: #87B3F2;}

.comment .text-muted {color: #87B3F2;}

#makeComment {
background: #102537  !important;
border: 2px #102537;
border-radius: 10px;
}

#comment {
background: #1B3D5A !important;
color: #87B3F2 !important;
}

input[type="button"].bad {
background: #87B3F2 !important;
}

input#postComment {
background: #4E67A1 !important;
color: #87B3F2;
}


/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */

.table {
	background: rgba(48, 108, 161, 0.55);
	border: 0 ridge !important;
	border-collapse: separate;
	border-radius: 10px !important;
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
	background: #102537 !important;
	color: #87B3F2 !important;
	border-radius: 10px !important;
}

td.bottom a {
        text-decoration: none !important
}

/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: rgba(16, 37, 55, 0.6) !important;
        color: #87B3F2;
	border-radius: 10px !important;
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: rgba(27, 61, 90, 0.5) !important;
	border-radius: 10px !important;
}

td.right {
	border-radius: 10px !important;
}

/* IGNORE */
.right_odd {
	background: none !important
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: rgba(16, 37, 55, 0.8) !important;
	border: 0 ridge !important;
	border-radius: 10px !important;
}

/* FEED ALL, PLAY ALL */

.feature {
	background: rgba(16, 37, 55, 0.8) !important;
	color: #87B3F2 !important;
	border: 1px solid #87B3F2 !important;
	border-radius: 10px !important;
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: rgba(16, 37, 55, 0.8);
	border: 0 ridge !important;
	border-radius: 10px !important;
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: #306CA1;
        border-radius: 10px !important;
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: rgba(142, 153, 210, 0.7) !important;
	border: 0 ridge !important;
	border-radius: 10px !important;
	color: #87B3F2 !important;
	box-shadow: none !important;
	text-shadow: none !important
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: rgba(27, 61, 90, 0.5) !important;
	color: #87B3F2 !important;
	border-radius: 10px !important;
}

.item {
	background: rgba(27, 61, 90, 0.5) !important;
	border: 0 ridge !important;
	border-radius: 10px !important;
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #BFD7F8 !important
}

div.slider.round::before /* Circle Part */ {
	background: #87B3F2 !important
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #FFFFFF !important;
        text-shadow: none !important
}

/* LINK COLOR */

a:link,
a:visited {
	color: #87B3F2 !important;
    text-shadow: 1px 0px 10px rgba(255, 255, 255, 0.45);
}

/* LINK HOVER COLOR */

a:hover {
	color: #BFD7F8 !important;
    text-shadow: 1px 0px 10px rgba(255, 255, 255, 0.50);
}


/* BOX CONTAINER */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}

/* BOXES */

.smallbox {
	float: left;
	background: rgba(1, 13, 38, 0.5);
	color: #587AA6;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}

.mediumbox {
	float: left;
	background: rgba(1, 13, 38, 0.5);
	color: #587AA6;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}

.largebox {
	float: left;
	background: rgba(1, 17, 64, 0.5);
	color: #587AA6;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}

/* HOVER BOXES */

.smallhoverbox {
	float: left;
	background: rgba(1, 17, 64, 0.5);
	color: #587AA6;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s
}

.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}

.mediumhoverbox {
	float: left;
	background: rgba(1, 17, 64, 0.5);
	color: #587AA6;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}

.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.largehoverbox {
	float: left;
	background: rgba(1, 17, 64, 0.5);
	color: #587AA6;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s
}

.largehoverbox:hover {
	height: 150px;
	width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #8E99D2
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: #4E67A1;
	border-radius: 0px
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 1
}

table#player img {
	opacity: 1
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px /* May need adjusting */
}

table#player img {
	border-radius: 50% !important;
	overflow: hidden
}


/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.ibb.co/TBHMWmM7/Pokey-Logo-Test-1.png');
	margin:-5px;
	margin-left:-25px;
}

/* CAVE / MOUND IMAGES */

   /* all caves image*/
div.cave-grid>img {
	padding-left: 0%;
	height: 180px;	
	width: 260px;
	opacity: 1;
	border: 0px ridge;
	overflow: hidden;
	border-radius: 10px !important;
	transition: 1.5s;
}
div.cave-grid>img:hover{
	filter: brightness(60%);
	overflow: hidden;
	transition: 0.8s !important;
}
/*Unsorted Lions*/
div.cave-grid>img[src$="nestingbanner.png"] {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/zimbabwe-atnight.png')!important;
}
/* unsorted cave */
div.cave-grid>img[src$="unsortedlionsbanner.png"] {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/zaxreflectionpool.png')!important;
}
/* pride overview cave */
div.cave-grid>img[src$="prideoverviewbanner.png"] {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/FireflyForestBG.png')!important;
}
    
a[href$="492501"]>div.cave-grid>img {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/TropicalForest_Night.png') !important
}
    
a[href$="492501"]>div.cave-grid>img {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/ForestThicket_WetNight.png') !important
}    

div.cave-grid>img[src$="caveunused.jpg"] {
	content: url('https://i.ibb.co/pTQZHkN/Pokey-Empty.png')!important;
}
/* da mounds */
.mound-grid img {
	background: url('https://static.lioden.com/images/dynamic/backgrounds/herbgrovenight.png');
	background-size:cover;
	width: 100%;
	height: 100%;
	padding-top: 70%;
	padding-right: 100%;
	max-height:150px;
	border-radius: 10px !important;
	opacity: 1;
	transition: 1.5s;
}
.mound-grid img:hover{
	filter: brightness(50%);
	transition: 0.8s !important;
}    

img[src$="default.png"] {
content: url("https://static.lioden.com/images/dynamic/backgrounds/FullMoonBG.png"); 
}
    
/* beetle book adjustment code by tawnyCollar#251887. may be used in commissions, personal CSS, and free CSS. do NOT remove credit, or reupload claiming it as your own. */
/* change beetle book image */
    img[src$="den_ancestors.png"] {
	background:none!important; 
       content:url('https://static.lioden.com/images/dynamic/backgrounds/FullMoonBG.png')!important;
        transform: scaleX(-1);
}
img[src$="den_ancestorsfem.png"] {
	background:none!important; 
    content:url('https://static.lioden.com/images/dynamic/backgrounds/full_moon_atlas.png')!important;

}
img[src$="den_achievements.png"] {
	background:none!important; 
    content:url('https://static.lioden.com/images/dynamic/backgrounds/tropicalnightlife.png')!important;
    transform: scaleX(-1);
}
img[src$="den_showcase.png"] {
	background:none!important; 
       content:url('https://static.lioden.com/images/dynamic/backgrounds/meteor_shower.png')!important;
	
	
}
img[src$="den_beetlebook.png"] {
	background:none!important; 
       content:url('https://static.lioden.com/images/dynamic/backgrounds/RaffleNightVegetationBG.png');
    transform: scaleX(-1);
}

/* fits all elements on one line */
body > div.container.main > div > div.col-md-9.col-xs-12 > center {
    flex-wrap: nowrap; 
    justify-content: space-between; 
}
.dynastylist {
    flex: 1 1 auto;
    max-width: 20%; 
    box-sizing: border-box; 
}
/* resizes all images to fit the new layout */
.dynastylist img {
    height: 100%!important;
	 width: 100%!important;
	border-radius: 10px;
}
.dynastylist img:hover{
	filter: brightness(50%);
	transition: 0.8s !important;
}            

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
	}
img[src$="icon-beetle-gold.png"] {
content: url("https://i.ibb.co/TBKNPJYj/PokeyGb.png") !important;
width: 20px !important;
}

img[src$="icon-beetle-silver.png"] {
content: url("https://i.ibb.co/rWJfMHs/Pokeysb.png") !important;
width: 20px !important;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-8/nat798.cur), auto !important;} /* End https://www.cursors-4u.com */

